n8n-grist-crm-email.json
{
    "name": "Grist CRM \u2014 Envoi d'e-mails (SMTP)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "grist-crm-emails",
                "responseMode": "onReceived",
                "options": {}
            },
            "id": "webhook-grist",
            "name": "Webhook Grist CRM",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                240,
                300
            ],
            "webhookId": "grist-crm-emails"
        },
        {
            "parameters": {
                "jsCode": "// Le widget CRM envoie soit :\n// - une action individuelle : { type: 'action_email' | 'action_relance' | 'action_send_contract', compte, contact, email, subject, body }\n// - une action group\u00e9e : { type: 'bulk_email' | 'bulk_relance', recipients: [ { email, contact, compte, subject, body }, ... ] }\n// On normalise les deux cas en une liste d'items, 1 item = 1 e-mail \u00e0 envoyer.\nconst input = $input.first().json;\nconst payload = input.body !== undefined ? input.body : input;\n\nlet rows;\nif (Array.isArray(payload.recipients)) {\n  rows = payload.recipients;\n} else {\n  rows = [payload];\n}\n\nreturn rows\n  .filter(r => r && r.email)\n  .map(r => ({ json: r }));"
            },
            "id": "normalize",
            "name": "Normaliser les destinataires",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                480,
                300
            ]
        },
        {
            "parameters": {
                "fromEmail": "no-reply@VOTRE-DOMAINE.fr",
                "toEmail": "={{ $json.email }}",
                "subject": "={{ $json.subject }}",
                "emailFormat": "text",
                "text": "={{ $json.body }}",
                "options": {}
            },
            "id": "send-email",
            "name": "Envoyer l'e-mail (SMTP)",
            "type": "n8n-nodes-base.emailSend",
            "typeVersion": 2.1,
            "position": [
                720,
                300
            ]
        }
    ],
    "connections": {
        "Webhook Grist CRM": {
            "main": [
                [
                    {
                        "node": "Normaliser les destinataires",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Normaliser les destinataires": {
            "main": [
                [
                    {
                        "node": "Envoyer l'e-mail (SMTP)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {},
    "meta": {
        "templatecredsSetupCompleted": false,
        "description": "\u00c0 importer dans n8n (Menu \u2192 Import from File). 3 \u00e9tapes ensuite : 1) ouvrir le n\u0153ud \u00ab Envoyer l'e-mail (SMTP) \u00bb et y associer vos identifiants SMTP + l'adresse exp\u00e9diteur ; 2) Activer le workflow ; 3) copier l'URL de production du n\u0153ud Webhook et la coller dans le champ \u00ab Webhook (avanc\u00e9) \u00bb des Param\u00e8tres du widget CRM. Fonctionne aussi bien pour les actions individuelles (bouton Envoyer un email / Relancer / Envoyer le contrat sur une fiche) que pour l'envoi group\u00e9 (s\u00e9lection multiple dans la vue Liste) : chaque destinataire re\u00e7oit un e-mail personnalis\u00e9 et s\u00e9par\u00e9, sans jamais voir les autres destinataires."
    }
}
